@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --app-background: rgb(147, 202, 207);
    --app-background-light: rgba(147, 202, 207, 0.15);
    --primary-text-color: rgb(28, 51, 45);
    --primary-text-color-light: rgba(28, 51, 45, 0.35);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background: var(--app-background);
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: var(--primary-text-color);
    letter-spacing: 10px;
    width: 100%;
    text-align: left;
    padding: 2em;
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Home Page */

#home {
    width: 99%;
    max-width: 850px;
    background: rgb(250, 250, 250);
    border: solid 1px rgb(250, 250, 250);
    border-radius: 10px;
    padding: 1.35em;
    box-shadow: 0 0 6px 1px lightgrey;
}

#bill {
    display: flex;
    align-items: start;
    flex-direction: column;
    position: relative;
}

#bill label {
    font-family: 'Nanum Gothic Coding', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--primary-text-color);
    margin-left: 0.5em;
}

#bill input {
    font-family: 'Nanum Gothic Coding', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    width: 90%;
    padding: .75em;
    border: none;
    border-radius: 8px;
    margin: 0.5em auto;
    background: var(--app-background-light);
    text-align: right;
    color: var(--primary-text-color);
}

#bill input::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: .75rem;
    letter-spacing: 1px;
    text-align: left;
}

#bill::before {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.35rem;
    content: '$';
    display: inline-block;
    width: 10px;
    height: 2px;
    color: var(--primary-text-color-light);
    position: absolute;
    top: 42px;
    left: 45px;
}